/* ------------------------ */
/* ----- Reset Styles ----- */
/* ------------------------ */

@import url("reset.css");

/* ------------------------ */
/* ----- Main Styles ----- */
/* ------------------------ */

a { 
	color: red;
}

h1, h2, span {
	color: black;
}

.text {
	color: blue;
}

#p-1, #p-2, #p-3, #p-4, #p-5 {
	color: purple;
}

.ol-list, .ul-list * {
	color: aqua;
}

.text.orange {
	color: orange;
}

.ol-list a {
	color: gray;
}

.text-block > p {
	color: brown;
}

.first-layer ~ p { 
	color: khaki;
}

.second-layer p {
	color: olive;
}

.second-layer h3 + p {
	color: midnightblue;
}

.second-layer + p {
	color: red;
}

.text p > span {
	color: gold;
}