/* ------------------------ */
/* ----- Reset Styles ----- */
/* ------------------------ */

@import url("reset.css");

/* ------------------------ */
/* -------- Fonts --------- */
/* ------------------------ */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,700&display=swap");

/* ------------------------ */
/* ----- Main Styles ------ */
/* ------------------------ */

[class*="__container"] {
	max-width: 1410px;
	padding: 15px 15px;
	margin: 0 auto;
}

/* ------------------------ */
/* ------------------------ */
